/*
Font: 		First Contact Thin
Style: 		Regular
URL: 		https://youworkforthem.com/font/T23253/first-contact
Foundry: 	SilverStag
Foundry: 	https://youworkforthem.com/designer/1258/silverstag
Copyright:	
Version: 	17
Created:	April 04, 2024
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'FirstContact-Thin';
	src: url('first-contact-thin.eot');
	src: url('first-contact-thin.eot?#iefix') format('embedded-opentype'),
             url('first-contact-thin.woff2') format('woff2'),
	     url('first-contact-thin.woff') format('woff'),
	     url('first-contact-thin.ttf') format('truetype'),
	     url('first-contact-thin.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
